.navbar {
  position: fixed;
}

.main-title {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  position: 50px;
}

.dashboard-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: space-between;
}

.container-title {
  padding-bottom: 14px;
  display: flex;
  text-align: end;
    h2 {
      display: flex;
      align-items: end;
    }
}

.characters-container-before {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.cc-container {
  display: flex;
  float: left;
}

.character {
  margin-left: 22px;
  margin-bottom: 22px;
}

.character-name {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.character-avatar {
  border-radius: 6px;
  width: 100%
}

.chatrooms-container-before {
  margin: 40px 0;
  display: flex;
  clear: both;
  padding-bottom: 20px;
}

.chatrooom {
  margin-left: 22px;
  margin-bottom: 22px;
}

.chatroom-name {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.chatroom-avatar {
  height: 150px;
  border-radius: 6px;
}

.dashboard-right-container {
  background-color: #D4D4D4;
  height: 300px;
  border-radius: 6px;
  box-shadow: 10px 10px 20px #202020;
  color: #242424;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.something-container {
  padding-left: 45px;
  border-right: solid 1px #b4b3b3;
}

.something-container h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.something-list p {
  font-family: 'Rajdhani';
}

// SLIDER

.slider-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 800px;
  // height: 350px;
  display: flex;
  position: absolute;
  transition: all 0.5s;
}


.btn {
  border: none;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
