<div class="container">
  <%#= link_to 'Back', @chatrooms_path %>
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="character-form">
          <h1>Add a new chatroom</h1>
          <div class="mt-3 mb-4 d-flex flex-column">
            <%= render "form", chatroom: @chatroom %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 