<nav class="navbar">
  <div class="title">
    <h1>MY<br><span class="title-second">UTOPIA</span></h1>
  </div>
    <div class="signup-login">
      <%= link_to 'Log In', '/users/sign_in' %>
      <p>/</p>
      <%= link_to 'Sign Up', '/users/sign_up' %>
    </div>
</nav>
