<nav class="navbar">
  <div class="title">
    <%= link_to "MY UTOPIA", home_path, class: "title-second" %>

  </div>
    <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle new-dropdown"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
    </button>
    <ul class="dropdown-menu drop-show" aria-labelledby="dropdownMenuButton" >
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      <li><%= link_to "Sign in", user_session_path, class: "dropdown-item" %></li>
      <li><%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %></li>
    </ul>
  </div>
</nav>
