<div id='nonFooter'>

<div class="home-container">
  <div class="banner-text-container">
    <div class="banner-text">
      <h3>Never step out of character</h3>
      <p>Fully immerse yourself</p>
    </div>
    <div class="container-button">
      <%= link_to 'JOIN', user_session_path, class: 'button-primary' %>
    </div>
    <div class="arrow-container">
      <a href="#footer" class="arrow">v</a>
    </div>
  </div>

</div>



  <div id='footer'>
  <div id="info-section-container">
    <div class="card__container">
    <div class="card">
      <div class="card__content">
        <h3 class="info-titles">Never break out the immersion</h4>
        <p class="small-descriptions">A place where you can fully enjoy role playing as you favorites characters. Never reveal your identity, or break out of the immersion of a good roleplay.
The only limit is your imagination ! </p>
      </div>
      </div>
    <div class="card">
      <div class="card__content">
        <h3 class="info-titles">Choose who you want to be</h3>
        <p class="small-descriptions">whether you want to be an valiant knight, a long bearded dwarf, or even a marvel superhero. Here you will find a place to fully immerse yourself, and undergo a unique experience !</p>
      </div>
      </div>
    <div class="card">
      <div class="card__content">
        <h3 class="info-titles">Join a wonderfull community</h3>
        <p class="small-descriptions">A place where you can be part of an amazing community, never feel misunderstood again ! Join thousands of players and others dreamers to role play or chat with and fully immerse yourself !</p>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
<%# <div id="log-in">
  <div class="log-in-box">
    <div class="form-container">
      <p class="log-in-box-title">Join the Community</p>
      <form action="">
        <label for="email"></label><br>
        <input type="email" placeholder="your email" class="input-fields">
        <label for="password"></label><br>
        <input type="password" placeholder="your password" class="input-fields">
        <label for="name"></label><br>
        <input type="name" placeholder="your name" class="input-fields">
      </form>
    </div>
    <div class="log-in-box">
    <div class="form-container">
      <p class="log-in-box-title">Welcome Back</p>
      <form action="">
        <label for="email"></label><br>
        <input type="email" placeholder="your email" class="input-fields">
        <label for="password"></label><br>
        <input type="password" placeholder="your password" class="input-fields">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%#= link_to "Log in", new_user_session_path, method: :new %>
      <%# </form>
    </div>
  </div>
</div> %>
