


<div id='nonFooter'>

<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe
    src="https://player.cloudinary.com/embed/?public_id=myut_rfx4bv&cloud_name=dlzusxobf&player%5Bfluid%5D=true&player%5Bcontrols%5D=true&player%5Bmuted%5D=true&player%5BshowJumpControls%5D=false&player%5Bautoplay%5D=true&player%5Bloop%5D=true&source%5BsourceTypes%5D%5B0%5D=hls"
    width="100%"
    height="100%"
    allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
    allowfullscreen
    frameborder="0"
  ></iframe>
</div>

<div class="home-container-">
  <div class="banner-text-container">
    <div class="banner-text">
      <h3 style="color: #eeeeee !important;">Never step out of character</h3>
      <p style="color: #eeeeee !important;">Fully immerse yourself in a world of endless possibilities</p>
    </div>
    <div class="container-button">
      <%= link_to 'JOIN', user_session_path, class: 'button-primary' %>
    </div>
    <div class="arrow-container">
      <a href="#footer" class="arrow">⇩</a>
    </div>
  </div>

</div>



<div id='footer'>
<div class="arrow-container">
    <a href="#nonFooter" class="arrow arrow-up">⇧</a>
  </div>
<div id="info-section-container">
  <div class="card__container">
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Never break out of the immersion</h4>
      <p class="small-descriptions">A place where you can enjoy role playing as you favorites characters. Never reveal your identity, or break out of the immersion of a good roleplay.The only limit is your imagination ! </p>
    </div>
    </div>
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Choose who you want to be</h3>
      <p class="small-descriptions">whether you want to be a knight, a long bearded dwarf or even a marvel superhero. Here you will find a place to fully immerse yourself, and undergo a unique experience !</p>
    </div>
    </div>
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Join a wonderfull community</h3>
      <p class="small-descriptions">A place where you can be part of an amazing community ! Join thousands of players and others dreamers to role play or chat with and fully immerse yourself !</p>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>


<!-- Copyright -->
  <div class="text-center p-2 copyright-footer" >
    <p class="text-reset fw-bold text-footer"> made with love at le wagon barcelona </p>
    <p class="text-reset fw-italic text-footer"> © 2022 &nbsp;&nbsp; Ryad - Gordana  - Julia</p>
  </div>
  <!-- Copyright -->
