<div id='nonFooter'>

<div class="home-container-">
  <div class="banner-text-container">
    <div class="banner-text">
      <h3>Never step out of character</h3>
      <p>Fully immerse yourself</p>
    </div>
    <div class="container-button">
      <%= link_to 'JOIN', user_session_path, class: 'button-primary' %>
    </div>
    <div class="arrow-container">
      <a href="#footer" class="arrow">⇩</a>
    </div>
  </div>

</div>



<div id='footer'>
<div class="arrow-container">
    <a href="#nonFooter" class="arrow arrow-up">⇧</a>
  </div>
<div id="info-section-container">
  <div class="card__container">
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Never break out the immersion</h4>
      <p class="small-descriptions">A place where you can fully enjoy role playing as you favorites characters. Never reveal your identity, or break out of the immersion of a good roleplay.The only limit is your imagination ! </p>
    </div>
    </div>
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Choose who you want to be</h3>
      <p class="small-descriptions">whether you want to be a knight, a long bearded dwarf or even a marvel superhero. Here you will find a place to fully immerse yourself, and undergo a unique experience !</p>
    </div>
    </div>
  <div class="card">
    <div class="card__content">
      <h3 class="info-titles">Join a wonderfull community</h3>
      <p class="small-descriptions">A place where you can be part of an amazing community, never feel misunderstood again ! Join thousands of players and others dreamers to role play or chat with and fully immerse yourself !</p>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>


<!-- Copyright -->
  <div class="text-center p-4 copyright-footer" >
    <p class="text-reset fw-bold text-footer"> made with love at le wagon barcelona </p>
    <p class="text-reset fw-italic text-footer"> © 2022 &nbsp;&nbsp; Gordana - Ryad - Julia</p>
  </div>
  <!-- Copyright -->
