
<div class="form">
  <%= form_tag characters_path, method: :get, id: "search-form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control-inline",
      placeholder: "Find a character"
    %>
    <%= submit_tag "Search", class: "btn button-primary" %>
  <% end %>
</div>
