<%= link_to 'Back', characters_path %>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div >
        <h1>Add a new Character</h1>
        <div class="mt-3 mb-4">
          <%= render "partials/form", character: @character %>
        </div>
      </div>
    </div>
  </div>
</div>
