<div class="character-container slider"  data-controller="carousel">
  <button class="btn btn-next carousel-control" data-action="click->carousel#moveForward">></button>
  <div class="slide" data-carousel-target="slide">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to characters_path do %>
        <div class="character">
          <p class="character-name"><%= chatroom.name %></p>
          <img class="character-avatar" src="assets/people1.png">
        </div>
      <% end %>
    <% end %>

  </div>
  <button class="btn btn-prev carousel-control"  data-action="click->carousel#moveBackwards"><</button>
</div>
