<div class="main-title">
  <h1>Dashboard</h1>
</div>
<div class="dashboard-container">
  <div class="dashboard-left-container ">
    <div class="characters-container-before ">
      <div class="container-title">
        <h2>Your Characters</h2>
      </div>
      <%= render "characters_slider" %>
    </div>
    <div class="characters-container-before ">
      <div class="container-title">
        <h2>Your Chatrooms</h2>
      </div>
      <%= render "chatrooms_cards" %>
    </div>
  </div>
</div>
