.submit-ch-btn {
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  color: #ff6b00;
  font-size: 1.5em;
  font-weight: bold;
}

.choose-char-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: none;
}

.char-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.char-btn {
  border-radius: 10px;
  background-color: grey;
  color: white;
}
