.navbar-title {
  color: #FF6B00 !important;
}

.navbar-items{
  color: #FF6B00 !important;

}

.dropdown-custom {
  color: #FF6B00 !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.dropdown-menu {
  background-color: #212529 !important;
    color: #FF6B00 !important;
}

.dropdown-item {
  color: #FF6B00 !important;
}

.dropdown-item:hover {
  background-color: #FF6B00 !important;
  color: #212529 !important;
  width: 80% !important;
}
