

.form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

// .form-controler {
//   width: 400px;
// }

.btn {
  position: relative;
}

// character name {
//   display: flex;
// justify-content: center;
// padding: 20px 0;
// font-size: 2rem;
// letter-spacing: 0.3rem;
// }
