

.form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

// .form-controler {
//   width: 400px;
// }

.btn {
  position: relative;
}

.form-control-inline {
  background: rgb(32, 30, 30);
  color: #FF6B00;
  border: 1px solid #FF6B00;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 15px;
}

.form-control-inline:focus {
  background: #FF6B00;
  color:rgb(32, 30, 30);
  border: 2px solid black;
}

.form-control-inline::placeholder {
  color: #FF6B00;
}

.form-control-inline::placeholder:focus {
  color: black;
}

.form-control-inline::file-selector-button {
  background: #FF6B00;
}
.form-control-inline::file-selector-button:focus {
  background: black;
}



// character name {
//   display: flex;
// justify-content: center;
// padding: 20px 0;
// font-size: 2rem;
// letter-spacing: 0.3rem;
// }
