
<div class="session-body">

  <h1 class='text-center mb-4 text-org'>Choose your character</h1>

   <div class="flex-charas">
   <% @characters.each do |character| %>
    <div class="chose-char-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path character.photo.key, height: 500, width: 300, crop: :fill %>')">
      <%= form_with(url: character_sessions_path, class: "w-100 h-100" , scope: :character_session, local: true) do |f| %>
      <%= hidden_field_tag "character_id", character.id %>
      <%= f.submit character.name, class: "submit-ch-btn" %>
      <% end %>
    </div>
    <% end %>
    </div>


     <div class="d-flex p-2 align-items-center flex-column flex-wrap justify-content-center">
    <h1 class='text-center mb-4 text-org'>Or</h1>
    <a href="/characters/new" class="btn char-btn text-center btn button-primary custom-btn">Add a new character</a>
  </div>

</div>
 